{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "flowtype"
  ],
  settings: {
    import/resolver: {
      "reactnative" : {
        "moduleDirectory": ["node_modules", "app"]
      }
    },
    flowtype: {
      onlyFilesWithFlowAnnotation: true,
      },
    },
  "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "jest": true
    },
  "globals": {
      "__DEV__": true,
      "window": true,
      "document": true,
      "describe": true,
      "expect": true,
      "it": true,
      "shallow": true,
      "jasmine": true,
    },
  "extends": ["plugin:react/recommended", "airbnb"],
  "rules": {
        "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
        "react/prop-types": ["warn", {skipUndeclared: true}], # only when an incomplete proptypes
        "arrow-parens": ["error", "as-needed", { "requireForBlockBody": false }],
        "no-console": ["warn", { allow: ["disableYellowBox", "ignoredYellowBox", "tron"] }],
        "no-use-before-define": [ "error", {
            "functions": false,
            "classes": true,
            "variables": true
          }
        ],
        "max-len": [ "error", 95, 2, {
            "ignorePattern": "^import.*",
            "ignoreUrls": true,
            "ignoreComments": true,
            "ignoreRegExpLiterals": false,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true
          }
        ],
        # Switching from error to warn
        "indent": ["warn"],
        "quotes": ["warn"],
        "comma-dangle": ["warn"],
        "no-trailing-spaces": ["warn"],
        "no-multiple-empty-lines": ["warn"],
        "padded-blocks": ["warn"],
        "object-property-newline": ["warn"],
        "array-bracket-spacing": ["warn"],
        "no-multi-spaces": ["warn"],
        "space-infix-ops": ["warn"],
        "arrow-body-style": ["warn"],
        "no-unused-vars": ["warn"],
        "import/first": ["warn"],
        "key-spacing": ["warn"],
        "object-curly-spacing": ["warn"],
        "react/prefer-stateless-function": ["warn"],
        "prefer-const": ["warn"],
        "semi": ["warn"],
        "spaced-comment": ["warn"],
        "space-before-function-paren": ["warn"],
        # Deactivating
        "import/no-named-as-default": 0,
        "no-underscore-dangle": 0,
        "no-case-declarations": 0,
        "global-require": 0,
        "import/prefer-default-export": 0,
        "no-mixed-operators": 0,
        "import/no-extraneous-dependencies": 0,
        "react/require-default-props": 0, # might reactivate if they support default declaration in ES6 destructured params
        "react/no-unused-prop-types": 0, # Seems it doesn't detect destructured props being used
  }
}
